.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    input,
    select,
    button {
        height: 2.5rem;
        min-height: 2.5rem;
        border: 1px solid #ccc;
        padding: 0.5rem;
        border-radius: 4px;

        &:focus {
            outline: none;
            border-color: #007bff;
        }
    }

    .select {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .reset {
        button {
            white-space: nowrap;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken(#007bff, 10%);
            }
        }
    }
}
