$color-blue: rgb(62, 51, 241);
$color-dark-blue: rgb(11, 2, 165);
$color-orange: rgb(245, 176, 49);
$color-red: rgb(255, 75, 52);
$color-pink: rgb(246, 49, 157);
$color-purple: rgb(195, 50, 238);
$color-teal: rgb(58, 158, 179);

$color-application: $color-blue;
$color-service: $color-purple;
$color-database: $color-red;
$color-integration: $color-teal;
